.flag32 {
    width: 32px;
    height: 32px;
    background:url(./../images/flags/flags32.png) no-repeat
}

.flag32.flag-ad {background-position: -32px 0}
.flag32.flag-al {background-position: -64px 0}
.flag32.flag-at {background-position: -96px 0}
.flag32.flag-ba {background-position: -128px 0}
.flag32.flag-be {background-position: -160px 0}
.flag32.flag-bg {background-position: -192px 0}
.flag32.flag-by {background-position: 0 -32px}
.flag32.flag-ch {background-position: -32px -32px}
.flag32.flag-cz {background-position: -64px -32px}
.flag32.flag-de {background-position: -96px -32px}
.flag32.flag-dk {background-position: -128px -32px}
.flag32.flag-ee {background-position: -160px -32px}
.flag32.flag-es {background-position: -192px -32px}
.flag32.flag-fi {background-position: 0 -64px}
.flag32.flag-fo {background-position: -32px -64px}
.flag32.flag-fr {background-position: -64px -64px}
.flag32.flag-gb {background-position: -96px -64px}
.flag32.flag-gi {background-position: -128px -64px}
.flag32.flag-gr {background-position: -160px -64px}
.flag32.flag-hr {background-position: -192px -64px}
.flag32.flag-hu {background-position: 0 -96px}
.flag32.flag-ie {background-position: -32px -96px}
.flag32.flag-is {background-position: -64px -96px}
.flag32.flag-it {background-position: -96px -96px}
.flag32.flag-li {background-position: -128px -96px}
.flag32.flag-lt {background-position: -160px -96px}
.flag32.flag-lu {background-position: -192px -96px}
.flag32.flag-lv {background-position: 0 -128px}
.flag32.flag-mc {background-position: -32px -128px}
.flag32.flag-md {background-position: -64px -128px}
.flag32.flag-me {background-position: -96px -128px}
.flag32.flag-mk {background-position: -128px -128px}
.flag32.flag-mt {background-position: -160px -128px}
.flag32.flag-nl {background-position: -192px -128px}
.flag32.flag-no {background-position: 0 -160px}
.flag32.flag-pl {background-position: -32px -160px}
.flag32.flag-pt {background-position: -64px -160px}
.flag32.flag-ro {background-position: -96px -160px}
.flag32.flag-rs {background-position: -128px -160px}
.flag32.flag-ru {background-position: -160px -160px}
.flag32.flag-se {background-position: -192px -160px}
.flag32.flag-si {background-position: 0 -192px}
.flag32.flag-sk {background-position: -32px -192px}
.flag32.flag-sm {background-position: -64px -192px}
.flag32.flag-ua {background-position: -96px -192px}
.flag32.flag-va {background-position: -128px -192px}
