.flag16 {
    width: 16px;
    height: 16px;
    background:url(./../images/flags/flags16.png) no-repeat
}

.flag16.flag-ad {background-position: -16px 0}
.flag16.flag-al {background-position: -32px 0}
.flag16.flag-at {background-position: -48px 0}
.flag16.flag-ba {background-position: -64px 0}
.flag16.flag-be {background-position: -80px 0}
.flag16.flag-bg {background-position: -96px 0}
.flag16.flag-by {background-position: 0 -16px}
.flag16.flag-ch {background-position: -16px -16px}
.flag16.flag-cz {background-position: -32px -16px}
.flag16.flag-de {background-position: -48px -16px}
.flag16.flag-dk {background-position: -64px -16px}
.flag16.flag-ee {background-position: -80px -16px}
.flag16.flag-es {background-position: -96px -16px}
.flag16.flag-fi {background-position: 0 -32px}
.flag16.flag-fo {background-position: -16px -32px}
.flag16.flag-fr {background-position: -32px -32px}
.flag16.flag-gb {background-position: -48px -32px}
.flag16.flag-gi {background-position: -64px -32px}
.flag16.flag-gr {background-position: -80px -32px}
.flag16.flag-hr {background-position: -96px -32px}
.flag16.flag-hu {background-position: 0 -48px}
.flag16.flag-ie {background-position: -16px -48px}
.flag16.flag-is {background-position: -32px -48px}
.flag16.flag-it {background-position: -48px -48px}
.flag16.flag-li {background-position: -64px -48px}
.flag16.flag-lt {background-position: -80px -48px}
.flag16.flag-lu {background-position: -96px -48px}
.flag16.flag-lv {background-position: 0 -64px}
.flag16.flag-mc {background-position: -16px -64px}
.flag16.flag-md {background-position: -32px -64px}
.flag16.flag-me {background-position: -48px -64px}
.flag16.flag-mk {background-position: -64px -64px}
.flag16.flag-mt {background-position: -80px -64px}
.flag16.flag-nl {background-position: -96px -64px}
.flag16.flag-no {background-position: 0 -80px}
.flag16.flag-pl {background-position: -16px -80px}
.flag16.flag-pt {background-position: -32px -80px}
.flag16.flag-ro {background-position: -48px -80px}
.flag16.flag-rs {background-position: -64px -80px}
.flag16.flag-ru {background-position: -80px -80px}
.flag16.flag-se {background-position: -96px -80px}
.flag16.flag-si {background-position: 0 -96px}
.flag16.flag-sk {background-position: -16px -96px}
.flag16.flag-sm {background-position: -32px -96px}
.flag16.flag-ua {background-position: -48px -96px}
.flag16.flag-va {background-position: -64px -96px}
