// Variabiles
// ---------------------------------------------------------------------------------------------------------------------

// Displays
// ---------------------------------------------------------------------------------------------------------------------
$screenSM: 'min-width: 768px';
$screenMD: 'min-width: 992px';
$screenLG: 'min-width: 1200px';

// Defaults
// ---------------------------------------------------------------------------------------------------------------------
