{redefine table-open-tag}
	<table class="table table-bordered table-condensed table-striped">
{/redefine}

{* ---------------------------------------------------------------------------- *}

{redefine global-filter-actions}
        <button n:name="filter" class="btn btn-primary btn-sm"><i class="fa fa-filter"></i> {_buttons.datagrid.filter}</button>
	{if $showCancel}
		<button n:name="cancel" class="btn btn-default btn-sm"><i class="fa fa-times"></i> {_buttons.datagrid.cancel}</button>
	{/if}
{/redefine}

{* ---------------------------------------------------------------------------- *}

{redefine col-filter}
	{input $column->name class => "input-sm form-control"}
{/redefine}

{* ---------------------------------------------------------------------------- *}

{redefine row-actions-edit}
	{input save class => "btn btn-primary btn-xs"}
	{input cancel class => "btn btn-default btn-xs"}
{/redefine}

{* ---------------------------------------------------------------------------- *}

{redefine row-actions-edit-link}
	<a href="{link edit! $primary}" data-datagrid-edit class="ajax btn btn-primary btn-xs">{$control->translate(Edit)}</a>
{/redefine}

{* ---------------------------------------------------------------------------- *}

{redefine pagination}
<ul class="pagination">
{if $paginator->isFirst()}
	<li class="disabled"><a>« {$control->translate(First)}</a></li>
	<li class="disabled"><a>« {$control->translate(Previous)}</a></li>
{else}
	<li><a href="{link paginate!, 'page' => 1}" class="ajax">« {$control->translate(First)}</a></li>
	<li><a href="{link paginate!, 'page' => $paginator->page - 1}" class="ajax">« {$control->translate(Previous)}</a></li>
{/if}

<li class="active">
	<a><strong>{$paginator->page}</strong> / {$paginator->pageCount}</a>
</li>

{if $paginator->isLast()}
	<li class="disabled"><a>{$control->translate(Next)} »</a></li>
	<li class="disabled"><a>{$control->translate(Last)} »</a></li>
{else}
	<li><a href="{link paginate!, 'page' => $paginator->page + 1}" class="ajax">{$control->translate(Next)} »</a></li>
	<li><a href="{link paginate!, 'page' => $paginator->pageCount}" class="ajax">{$control->translate(Last)} »</a></li>
{/if}
</ul>
{/redefine}
